In [1]:
# Q1. reverse a string

s = "Hello!"
s[: :-1]

'!olleH'

In [2]:
# Q2. number of vowels

s1 = "adfuyegedgetincdbvuvbrohsggu"
c = 0
for i in s1:
    if i == "a" or i == "e" or i == "i" or i == "o" or i == "u":
       c = c+1
c

9

In [4]:
# Q3. check if a given string is a palindrome or not

s1 = input("Enter any String")
s2 = s1[: :-1]
if s1 == s2:
    print("The given string is palindrome")
else:
    print("The given string is not a palindrome")

Enter any String abcba

The given string is palindrome

In [5]:
#  Q4. Anagrams 

s1 = "listen"
s2 = "silent"

if len(s1)!=len(s2):
    print("Not an anagram")
elif len(s1) == len(s2):
    if sorted(s1) == sorted(s2):
        print("the strings are the anagrams of each other")
    else:
        print("Not an anagram")

the strings are the anagrams of each other

In [6]:
#  Q5. 

s1 = "abcdefghidefjkldef"
sub = "def"
c = 0
for i in range(len(s1)-len(sub)+1):
    if s1[i:i+len(sub)] == sub:
        c = c+1
c

3

In [7]:
# Q6. Basic string compression

x = "aaaabbcccdddd"
count = 1
result = ""
for i in range(1,len(x)):
    if x[i] == x[i-1]:
        count = count + 1
    else:
        result += x[i-1]+str(count)
        count = 1
result += x[-1] + str(count)
print(result)

a4b2c3d4

In [8]:
# Q7. string with all the unique characters

def unique_characters(s):
    unique_chars = set(s)
    return len(unique_chars) == len(s)


s = "abcdef"
print(unique_characters(s))

s = "aabbcc"
print(unique_characters(s))

True
False

In [9]:
# Q8.

s = "abcd"
print(s.upper())

print(s.lower())

ABCD
abcd

In [10]:
# Q9. To count the number of words in a string

s = "This is a pen"
c = 1
for i in range(1,len(s)-1):
    if s[i+1] == " ":
        c+=1
c

4

In [11]:
# Q10. 

s1 = "Hello "
s2 = "World"
result = "".join((s1, s2))
print(result)

Hello World

In [12]:
#  Q11. remove all the occurences of a specific element from the string

l1 = "Hello World"
r = "l"
result = ""
for i in range(0,len(l1)):
    if l1[i] != r:
        result+=l1[i]
result

'Heo Word'

In [13]:
#  Q12. find second largest element in the list

l1 = [2,42,3,55,7,65,6]
fmax = 0
smax = 0
for i in range(len(l1)):
    if fmax < l1[i]:
        fmax = l1[i]   
        
for i in range(len(l1)):
    if l1[i] != fmax:
        if smax < l1[i]:
            smax = l1[i]
smax

55

In [14]:
# Q13. 

l1 = ["a","a","a","a","b","b","b","c","c"]
d = {}
c = 1
for i in range(0,len(l1)-1):
    if l1[i] == l1[i+1]:
        c = c + 1
    else:
        d[l1[i-1]] = c
        c = 1 

d[l1[-1]]=c
    
d

{'a': 4, 'b': 3, 'c': 2}

In [15]:
#  Q14. To reverse a list

l1 = [1,2,3,4,5,6,7,8]

#  we will swap the elements  within the list to reverse the list

start = 0
end = len(l1)-1

while start<end:
    l1[start],l1[end] = l1[end],l1[start]
    start = start+1
    end = end-1
l1

[8, 7, 6, 5, 4, 3, 2, 1]

In [17]:
#  Q15. remove the duplicates from the list

l1 = [1,1,2,2,2,3,4,5,6,7,7,7,7]

l2 = []
for item in l1:
    if item not in l2:
        l2.append(item) 
l2

[1, 2, 3, 4, 5, 6, 7]

In [18]:
#  Q16. 

l1 = [1,2,3,4,6,8,59,90]
# l1 = [9,8,7,6,5,4]
is_descending = True
is_ascending = True

for i in range(1,len(l1)):
    if l1[i-1] < l1[i]:
        is_descending = False
    elif l1[i-1] > l1[i]:
        is_ascending = False
if is_ascending:
    print("sorted")
elif is_descending:
    print("sorted")
else:
    print("not sorted")

sorted

In [19]:
# Q17

l1 = [1, 3, 5, 7]
l2 = [2, 4, 6, 8]
l3 = []

i, j = 0, 0

while i < len(l1) and j < len(l2):
    if l1[i] <= l2[j]:
        l3.append(l1[i])
        i += 1
    else:
        l3.append(l2[j])
        j += 1

while i < len(l1):
    l3.append(l1[i])
    i += 1

while j < len(l2):
    l3.append(l2[j])
    j += 1

l3

[1, 2, 3, 4, 5, 6, 7, 8]

In [20]:
# Q18.

list1 = [1,2,3,4,5]
list2 = [1,9,87,54,5]
result = []

for item in list1:
    if item in list2 and item not in result:
        result.append(item)

result

[1, 5]

In [21]:
# Q19.

l1 = [1, 2, 3, 4, 5]
l2 = [1, 9, 87, 54, 5]
result = []

i, j = 0, 0

while i < len(l1):
    result.append(l1[i])
    i += 1

while j < len(l2):
    if l2[j] not in result:
        result.append(l2[j])
    j += 1

result

[1, 2, 3, 4, 5, 9, 87, 54]

In [22]:
# Q20.

l1 = [1,2,3,4,5,6,7]
n = len(l1)
for i in range(n):
    step = (i * 3) % n
    l1[i], l1[step] = l1[step], l1[i]

l1

[1, 5, 2, 7, 3, 4, 6]

In [23]:
#  Q21.

n = int(input("enter the length for t1"))
m = int(input("enter the length for t2"))
t1 = []
t2 = []
for i in range(n):
    a = tuple(input("enter for t1: "))
    t1.append(a)
for j in range(m):
    b = tuple(input("enter for t2: "))
    t2.append(b)

t3 = tuple(set(t1) & set(t2))
t3

enter the length for t1 3
enter the length for t2 4
enter for t1:  1
enter for t1:  2
enter for t1:  3
enter for t2:  4
enter for t2:  2
enter for t2:  1
enter for t2:  6

(('1',), ('2',))

In [24]:
# Q22.

data1 = input("Enter the set1 seperated by commas")
data2 = input("Enter the set2 seperated by commas")

s1 = set(data1.split(","))
s2 = set(data2.split(","))

print("Intersaction of both the sets",s1 & s2)

Enter the set1 seperated by commas 1,2,3,4,5
Enter the set2 seperated by commas 5,6,7,8,2

Intersaction of both the sets {'2', '5'}

In [25]:
# Q23.

n = int(input("enter the length of t1"))
m = int(input("enter the length of t2"))
t1 = []
t2 = []
for i in range(n):
    a = input("enter the elements of the t1")
    t1.append(a)
for i in range(m):
    b = input("enter the elements of the t2")
    t2.append(b)
    
t1 = tuple(t1)
t2 = tuple(t2)

t3 = t1+t2
t3

enter the length of t1 3
enter the length of t2 3
enter the elements of the t1 1
enter the elements of the t1 2
enter the elements of the t1 3
enter the elements of the t2 4
enter the elements of the t2 5
enter the elements of the t2 6

('1', '2', '3', '4', '5', '6')

In [27]:
### Q24.

n = int(input("Enter the length of set 1: "))
m = int(input("Enter the length of set 2: "))

s1 = []
s2 = []

for i in range(n):
    a = input("enter for set 1")
    s1.append(a)

for j in range(m):
    b = input("enter for set 2")
    s2.append(b)

s1 = set(s1)
s2 = set(s2)

print(s1-s2)

Enter the length of set 1:  3
Enter the length of set 2:  3
enter for set 1 1
enter for set 1 2
enter for set 1 3
enter for set 2 2
enter for set 2 3
enter for set 2 4

{'1'}

In [28]:
# Q25.

def tuple_within_range(t1,s,e):
    return t1[s:e]


t1 = tuple(input("enter the elements of tuple seperated by commas: ").split(","))

s = int(input("start index: "))

e = int(input("enter the end index"))

result = tuple_within_range(t1,s,e)

result

enter the elements of tuple seperated by commas:  1,2,3,4,5,6
start index:  0
enter the end index 5

('1', '2', '3', '4', '5')

In [29]:
# Q26.

s1 = set(input("enter the elements of the set 1 seperated by the commas: ").split(","))
s2 = set(input("enter the elements of the set 2 seperated by the commas: ").split(","))

print(s1 | s2)

enter the elements of the set 1 seperated by the commas:  a,b,c,d
enter the elements of the set 2 seperated by the commas:  a,c,b,d,f

{'d', 'f', 'a', 'b', 'c'}

In [30]:
# Q27.

t1 = tuple(map(int, input("Enter the elements of the tuple separated by commas: ").split(",")))
max = 0
min = t1[0]

for i in range(len(t1)):
    if max<t1[i]:
        max = t1[i]

# for minimum value

for j in range(len(t1)):
    if min>t1[j]:
        min = t1[j]

print("the maximum value in the tuple is : ",max)

print("The minimum value in the tuple is : ",min)

Enter the elements of the tuple separated by commas:  1,32,20,25,85,74,4

the maximum value in the tuple is :  85
The minimum value in the tuple is :  1

In [31]:
#  Q28.

s1 = set(map(int, input("Enter the elements of the set 1 separated by commas: ").split(",")))
s2 = set(map(int, input("Enter the elements of the set 2 separated by commas: ").split(",")))

print("The union of the 2 sets: ",s1|s2)
print("The intersection of the 2 sets: ",s1&s2)
print("The difference between the 2 sets: ",s1-s2)

Enter the elements of the set 1 separated by commas:  1,2,3,4,5,6
Enter the elements of the set 2 separated by commas:  3,4,5,6,7,8

The union of the 2 sets:  {1, 2, 3, 4, 5, 6, 7, 8}
The intersection of the 2 sets:  {3, 4, 5, 6}
The difference between the 2 sets:  {1, 2}

In [32]:
# Q29.

t1 = tuple(map(int, input("Enter the elements of the tuple separated by commas: ").split(",")))

x = int(input("Enter a element: "))

count = 0

for i in range(len(t1)):
    if x == t1[i]:
        count = count + 1

count

Enter the elements of the tuple separated by commas:  1,2,3,4,21,2,3,4,2,2,3
Enter a element:  2

4

In [33]:
#  Q30.

s1 = set(map(int, input("Enter the elements of the set 1 separated by commas: ").split(",")))
s2 = set(map(int, input("Enter the elements of the set 2 separated by commas: ").split(",")))

sym_diff = s1 ^ s2

print("The symmetric difference is:", sym_diff)

Enter the elements of the set 1 separated by commas:  1,2,3,4
Enter the elements of the set 2 separated by commas:  3,4,5,6,7

The symmetric difference is: {1, 2, 5, 6, 7}

In [34]:
# Q31.

l1 = input("enter the elements of the list seperated by the commas: ").split(",")

result = {}

count = 0

for i in range(len(l1)):
    if l1[i] in result:
        result[l1[i]]+=1
    else:
        result[l1[i]]=1
        
result

enter the elements of the list seperated by the commas:  hola,hola,hii,hii,hii,hii,hii

{'hola': 2, 'hii': 5}

In [35]:
# Q32.

d1 = {}
d2 = {}
n = int(input("enter length of the d1"))
m = int(input("enter length of the d2"))

for i in range(n):
    k = input("enter key: ")
    v = int(input("enter values: "))
    d1[k]=v

for j in range(m):
    k1 = input("enter key: ")
    v1 = int(input("enter values: "))
    d2[k1]=v1

result = {}


for key in d1:
    if key in d2:
        result[key]=d1[key]+d2[key]
    else:
        result[key]=d1[key]

for key in d2:
    if key not in result:
        result[key]=d2[key]

result

enter length of the d1 3
enter length of the d2 3
enter key:  a
enter values:  1
enter key:  b
enter values:  1
enter key:  c
enter values:  1
enter key:  a
enter values:  3
enter key:  c
enter values:  7
enter key:  d
enter values:  2

{'a': 4, 'b': 1, 'c': 8, 'd': 2}

In [36]:
#  Q33.

def result(d1,l1):
    c = d1
    for i in l1:
        if i in c:
            c = c[i]
        else:
            return None
    return c

d1 = {"a":3,"b":2,"c":1,"abcd":{"d":4,"e":5}}
l1 = ["abcd","d"]
l2 = ["abcd","f"]
r = result(d1,l1)
print(r)

4

In [37]:
r1 = result(d1,l2)
print(r1)

None

In [38]:
# Q34.

d1 = {}
n = int(input("Enter the length of d1: "))

for i in range(n):
    k = input("Enter key: ")
    v = int(input("Enter value: "))
    d1[k] = v

items = list(d1.items())

for i in range(len(items)):
    for j in range(i + 1, len(items)):
        if items[i][1] > items[j][1]:
            items[i], items[j] = items[j], items[i]

sorted_dict = dict(items)

print("Sorted dictionary by values:", sorted_dict)

Enter the length of d1:  4
Enter key:  a
Enter value:  2
Enter key:  b
Enter value:  1
Enter key:  c
Enter value:  4
Enter key:  d
Enter value:  3

Sorted dictionary by values: {'b': 1, 'a': 2, 'd': 3, 'c': 4}

In [41]:
# sorting in decreasing order

for i in range(len(items)):
    for j in range(i + 1, len(items)):
        if items[i][1] < items[j][1]:
            items[i], items[j] = items[j], items[i]

sorted_dict = dict(items)

print("Sorted dictionary by values:", sorted_dict)

Sorted dictionary by values: {'c': 4, 'd': 3, 'a': 2, 'b': 1}

In [42]:
# Q35.

d1 = {"a":1,"b":1,"c":2,"d":3}
result = {}
for key,value in d1.items():
    if value in result:
        result[value].append(key)
    else:
        result[value] = [key]
result

{1: ['a', 'b'], 2: ['c'], 3: ['d']}